<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bet Manager</title>
  <link rel="stylesheet" href="show-my-bets.component.css">
</head>
<body class="body">
    <div class="container">
        <h1 class="title">Gerenciador de Apostas</h1>

        <!-- Filtros -->
        <div class="form-filters">
          <div class="form-group">
            <label for="competition" class="label">Campeonato</label>
            <select [(ngModel)]="competitionFilter" id="competition" name="competition" class="input">
              <option value="">Selecione</option>
              <option value="Paulistão">Paulistão</option>
              <option value="Brasileirão">Brasileirão</option>
            </select>
          </div>

          <div class="form-group">
            <label for="result" class="label">Resultado</label>
            <select [(ngModel)]="resultFilter" id="result" name="result" class="input">
              <option value="">Selecione</option>
              <option value="true">Green</option>
              <option value="false">Red</option>
            </select>
          </div>

          <div class="form-group">
            <label for="dateStart" class="label">Data Início</label>
            <input type="date" [(ngModel)]="dateStart" id="dateStart" name="dateStart" class="input date-input">
          </div>

          <div class="form-group">
            <label for="dateEnd" class="label">Data Fim</label>
            <input type="date" [(ngModel)]="dateEnd" id="dateEnd" name="dateEnd" class="input date-input">
          </div>

          <div class="filter-button">
            <button (click)="searchBets()" class="button">
              Pesquisar
            </button>
          </div>
        </div>


        <!-- Cards de Apostas -->
        <div id="bets" class="bets-grid">
          <div *ngFor="let bet of bets" class="bet-card">
              <h2 class="bet-title">Aposta #{{ bet.id || 'N/A' }}</h2>

              <p class="bet-info"><strong>Times:</strong>
                  {{ bet.game?.teams?.length ? bet.game.teams.join(' vs ') : 'N/A' }}
              </p>
              <p class="bet-info"><strong>Campeonato:</strong>
                  {{ bet.game?.competition || 'N/A' }}
              </p>

              <p class="bet-info"><strong>Valor:</strong> R$ {{ bet.value || 0 }}</p>
              <p class="bet-info"><strong>Odd:</strong> {{ bet.odd || 0 }}</p>
              <p class="bet-info"><strong>Estilo de Aposta:</strong> {{ bet.betStyle || 'N/A' }}</p>
              <p class="bet-info"><strong>Resultado:</strong>
                  <span class="{{ bet.green ? 'text-green' : 'text-red' }}">
                      {{ bet.green ? 'Green' : 'Red' }}
                  </span>
              </p>

              <p class="bet-info"><strong>Entradas:</strong>
                  {{ getEntrancesDescriptions(bet) || 'N/A' }}
              </p>
          </div>
      </div>

        <button style="margin-top: 20px;" (click)="navigateToHomePage()" class="button">
          Voltar
        </button>
    </div>

  <script>
    // Aqui você pode adicionar o código JavaScript para buscar os dados da API e renderizar os cards dinamicamente
  </script>
</body>
</html>
