<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="person-info-component.component.css">
</head>
<body>
  <div *ngIf="showFullInfo && person" class="person-info">
    <h2 class="main-title">Informações da sua conta</h2>
    <p><strong>Nome:</strong> {{ person.name }}</p>
    <p><strong>Saldo Inicial:</strong> {{ person.saldoInicial | currency:'BRL' }}</p>
    <p><strong>Saldo Atual:</strong> {{ person.saldoAtual | currency:'BRL' }}</p>
    <p><strong>Estilo de Aposta:</strong> {{ person.estiloDeAposta }}</p>

    <h3 class="subtitle">Baseado no seu perfil:</h3>
    <div class="table-container">
      <table class="stake-table">
        <thead>
          <tr>
            <th>Odd</th>
            <th>Stake Sugerida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.5 a 1.99</td>
            <td>{{ (person.saldoAtual / 20) | currency:'BRL' }}</td>
          </tr>
          <tr>
            <td>2.0 a 2.49</td>
            <td>{{ (person.saldoAtual / 30) | currency:'BRL' }}</td>
          </tr>
          <tr>
            <td>2.5 a 2.99</td>
            <td>{{ (person.saldoAtual / 80) | currency:'BRL' }}</td>
          </tr>
          <tr>
            <td>3.0 a 3.99</td>
            <td>{{ (person.saldoAtual / 130) | currency:'BRL' }}</td>
          </tr>
          <tr>
            <td>Maior que 4</td>
            <td>{{ (person.saldoAtual / 200) | currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="button-container">
    <button (click)="navigateToHomePage()" class="back-button">
      Voltar
    </button>
  </div>
</body>
</html>
