<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body style="background-color: black;">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <div *ngIf="showFullInfo && person" class="bg-gray-900 shadow-md rounded-lg p-4 mb-4">
      <h2 class="text-lg font-bold mb-2 text-white">Informações da Pessoa</h2>
      <p><strong>ID:</strong> {{ person.id }}</p>
      <p><strong>Saldo Inicial:</strong> {{ person.saldoInicial}}</p>
      <p><strong>Saldo Atual:</strong> {{ person.saldoAtual}}</p>
      <p><strong>Estilo de Aposta:</strong> {{ person.estiloDeAposta }}</p>
    </div>

    <button (click)="navigateToHomePage()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Voltar
    </button>
  </body>
</html>
