<div class="sidebar">
  <!-- Sidebar -->
  <div class="sidebar-content">
      <nav class="nav-links">
          <a href="/" class="nav-link">Home</a>
          <a href="/showBets" class="nav-link">Apostas</a>
          <a href="/personInfo" class="nav-link">Perfil</a>
      </nav>
  </div>

  <!-- Main Content -->
  <div class="main-content">
      <h1 class="main-title">Seu gerenciador de Apostas</h1>

      <div *ngIf="person">
        <h2 class="subtitle">Bem vindo de volta {{person.name}}</h2>
      </div>


      <div *ngIf="person">
          <h2 class="subtitle">Seu saldo atual é: {{ person.saldoAtual | currency }}</h2>
      </div>

      <!-- Button to display Person information -->
      <div class="button-group">
        <button (click)="loadPersonInfo()" class="btn-primary">
            {{ showFullInfo ? 'Ocultar Informações da Pessoa' : 'Mostrar Informações da Pessoa' }}
        </button>
    </div>

      <!-- Display full Person information on button click -->
      <div *ngIf="showFullInfo && person" class="person-info-container">
        <table class="person-info-table">
          <tr>
            <td><strong>Nome:  {{ person.name }}</strong></td>
            <td><strong>Banca Inicial: {{ person.saldoInicial | currency }}</strong></td>
          </tr>
          <tr>
            <td><strong>Banca Atual: {{ person.saldoAtual | currency }}</strong></td>
            <td><strong>Estilo de Aposta: {{ person.estiloDeAposta }}</strong></td>
          </tr>
        </table>
      </div>



      <!-- Buttons to add and list bets -->
      <div class="button-group">
          <button (click)="showCreateBetForm = !showCreateBetForm" class="btn-primary">
              Adicionar aposta
          </button>

          <button (click)="navigateToShowBets()" class="btn-primary">
              Listar apostas
          </button>
      </div>

      <!-- Form to create a bet -->
      <div *ngIf="showCreateBetForm" class="form-container">
          <h2 class="subtitle">Criar Aposta</h2>
          <form (ngSubmit)="addBet()">
              <div class="form-group">
                  <label for="competition">Campeonato</label>
                  <select id="competition" name="competition" (change)="onCompetitionChange($event)" [(ngModel)]="newBet.game.competition" required>
                      <option value="">Selecione um Campeonato</option>
                      <option *ngFor="let competition of competitions" [value]="competition">{{ competition }}</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="team1">Time 1</label>
                  <select id="team1" name="team1" [(ngModel)]="newBet.game.teams[0]" required>
                      <option value="">Selecione um Time</option>
                      <option *ngFor="let team of availableTeams" [value]="team">{{ team }}</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="team2">Time 2</label>
                  <select id="team2" name="team2" [(ngModel)]="newBet.game.teams[1]" required>
                      <option value="">Selecione um Time</option>
                      <option *ngFor="let team of availableTeams" [value]="team">{{ team }}</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="value">Valor</label>
                  <input type="number" id="value" name="value" [(ngModel)]="newBet.value" step="0.01" required>
              </div>

              <div class="form-group">
                  <label for="odd">Odd</label>
                  <input type="number" id="odd" name="odd" [(ngModel)]="newBet.odd" step="0.01" required>
              </div>

              <div class="form-group">
                  <label for="multipleOrSimple">Multipla ou Simples</label>
                  <select id="multipleOrSimple" name="multipleOrSimple" [(ngModel)]="newEntrance" required>
                      <option value="">Selecione uma opção</option>
                      <option *ngFor="let style of multipleOrSimple" [value]="style">{{ style }}</option>
                  </select>
              </div>

              <div class="form-group">
                  <label for="betStyle">Estilo de Aposta</label>
                  <select id="betStyle" name="betStyle" [(ngModel)]="newBet.betStyle" required>
                      <option value="">Selecione um Estilo</option>
                      <option *ngFor="let style of betStyles" [value]="style">{{ style }}</option>
                  </select>
              </div>

              <button type="submit" (click)="addEntrance()" class="btn-primary">
                  Adicionar Aposta
              </button>
          </form>
      </div>
  </div>
</div>
